%ons-navigator(title="Timecard" left-button-icon="fa fa-lg fa-bars" on-left-button-click="ons.slidingMenu.toggleMenu()")
  %ons-page.center(style="padding:8px")
    %h1 Timecard
    %h1(style="font-weight:normal;") Time tracking for your project.
    %h2(style="color:#555555; font-weight:normal;") It is possible to time tracking in connection with the Github Issue.
    %h2(style="color:#555555; font-weight:normal;") Project owner can see at a glance the working hours of project members.
    %ons-button(type="large--quiet")
      Sign In
