%ons-navigator(title="Timecard" left-button-icon="fa fa-lg fa-bars" on-left-button-click="ons.slidingMenu.toggleMenu()")
  %ons-page.center
    %h1 Timecard
    %h2 Time tracking for your project.
    %h3(style="color:#555555; font-weight:normal;") It is possible to time tracking in connection with the Github Issue.
    %h3(style="color:#555555; font-weight:normal;") Project owner can see at a glance the working hours of project members.
