.DS_Store
.sass-cache
Gemfile.lock
build
lib/component/version
chrome-apps/manifest.json
packages
pubspec.lock
submodule/dart_timecard_dev_api_client
tags

syntax: glob

*.css
*.html
*.js
*.sw?
*~

syntax: regexp
