.DS_Store
.sass-cache
Gemfile.lock
build
lib/component/version
packages
pubspec.lock
submodule/dart_timecard_dev_api_client
tags
web/manifest.json

syntax: glob

*.css
*.html
*.js
*.sw?
*~

syntax: regexp
