.DS_Store
.sass-cache
Gemfile.lock
build
lib/version
node_modules
npm-debug.log
packages
pubspec.lock
pubspec.yaml.orig
pubspec.yaml.rej
release
submodule/dart_timecard_dev_api_client
tags

syntax: glob

*.css
*.html
*.js
*.sw?
*~
web/manifest*.json

syntax: regexp
