%ion-side-menus
  %ion-pane(ion-side-menu-content)
    %ion-nav-bar.bar-stable.nav-title-slide-ios7
      %ion-nav-back-button.button-clear
        %i.icon.ion-chevron-left
        Back
    %ion-nav-view(name="menuContent" animation="slide-left-right")
  %ion-side-menu(side="left")
    %header.bar.bar-header.bar-stable
      %h1.title
        Settings
    %ion-content.has-header
      %ion-list
        %ion-item(nav-clear menu-close href="#/app/playlists")
          %i.icon.ion-person
          Account
        %ion-item(nav-clear menu-close href="#/app/playlists")
          %i.icon.ion-log-out
          Logout
        %ion-item(nav-clear menu-close href="#/app/playlists")
          %i.icon.ion-gear-a
          settings
        %ion-item(nav-clear menu-close href="#/app/playlists")
          %i.icon.ion-paper-airplane
          Feedback
      %footer-component
  %ion-side-menu(side="right")
    %header.bar.bar-header.bar-stable
      %h1.title
        Select
    %ion-content.has-header
      %ion-list
        %ion-item(nav-clear menu-close href="#/app/search")
          %i.icon.ion-speedometer
          Workload
        %ion-item(nav-clear menu-close href="#/app/browse")
          %i.icon.ion-grid
          Dashbord
        %ion-item(nav-clear menu-close href="#/app/playlists")
          %i.icon.ion-filing
          Projects
        %ion-item(nav-clear menu-close href="#/app/playlists")
          %i.icon.ion-hammer
          Issues
