%ion-view(title="Playlists")
  %ion-nav-buttons(side="left")
    %button.button.button-icon.icon.ion-navicon(menu-toggle="left")
  %ion-nav-buttons(side="right")
    %button.button.button-icon.icon.ion-navicon(menu-toggle="right")
  %ion-content.has-header
    %ion-list
      %ion-item(ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}")
        {{playlist.title}}
