!!!
%html/
%meta(charset="UTF-8")
%meta(http-equiv="X-UA-Compatible" content="IE=edge")
%meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
%title Timecard
:css
  .ng-show {
    display: block !important;
  }
  [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
  }
  body {
    padding-top: 100px;
  }

%link(rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon.png")
%link(rel="stylesheet" href="bootstrap-3.1.1/css/bootstrap.min.css")
%link(href="ionic/css/ionic.min.css" rel="stylesheet")
%script(src="ionic/js/ionic.bundle.min.js")
%script(src="js/app.js")
%script(src="js/browser_dart_csp_safe.js")
%script(src="packages/chrome/bootstrap.js" defer)
%script(src="main.dart" type="application/dart")
%body(app ng-app="starter")/

%ion-side-menus

  %ion-side-menu(side="left")
    %header.bar.bar-header.bar-stable
      %h1.title
        Settings
    %ion-content.has-header
      %ion-list
        %ion-item(nav-clear menu-close)
          %i.icon.ion-person
          Account
        %ion-item(nav-clear menu-close)
          %i.icon.ion-log-out
          Logout
        %ion-item(nav-clear menu-close)
          %i.icon.ion-gear-a
          settings
        %ion-item(nav-clear menu-close)
          %i.icon.ion-paper-airplane
          Feedback
      %footer-component

  %ion-side-menu(side="right")
    %header.bar.bar-header.bar-stable
      %h1.title
        Select
    %ion-content.has-header
      %ion-list
        %ion-item(nav-clear menu-close)
          %i.icon.ion-speedometer
          Workload
        %ion-item(nav-clear menu-close)
          %i.icon.ion-grid
          Dashbord
        %ion-item(nav-clear menu-close)
          %i.icon.ion-filing
          Projects
        %ion-item(nav-clear menu-close)
          %i.icon.ion-hammer
          Issues

  %ion-tabs.tabs-icon-only.tabs-positive(ion-side-menu-content)

    %ion-tab(title="Home" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline")
      %ion-header-bar.bar-positive
        .buttons.left-buttons
          %button.button.button-icon.icon.ion-navicon(menu-toggle="left")
        %h1.title Tasks
        .buttons.right-buttons
          %button.button.button-icon.icon.ion-navicon(menu-toggle="right")
      %ion-content(has-tabs="true" on-refresh="onRefresh()")
        %ion-refresher
        %ion-list(scroll="false" on-refresh="onRefresh()" s-editing="isEditingItems" animation="fade-out" delete-icon="icon ion-minus-circled")
          %ion-item(ng-repeat="item in items" item="item" buttons="item.buttons" can-delete="true" can-swipe="true" on-delete="deleteItem(item)" ng-class="{completed: item.isCompleted}")
            {{item.title}}
            %i(ng-class="{{item.icon}}")

    %ion-tab(title="About" icon-on="icon ion-ios7-clock" icon-off="icon ion-ios7-clock-outline")
      %ion-header-bar.bar-positive
        .buttons.left-buttons
          %button.button.button-icon.icon.ion-navicon(menu-toggle="left")
        %h1.title Deadlines
        .buttons.right-buttons
          %button.button.button-icon.icon.ion-navicon(menu-toggle="right")
      %ion-content(has-header="true")
        %h1 Deadlines

    %ion-tab(title="Settings" icon-on="icon ion-ios7-gear" icon-off="icon ion-ios7-gear-outline")
      %ion-header-bar.bar-positive
        .buttons.left-buttons
          %button.button.button-icon.icon.ion-navicon(menu-toggle="left")
        %h1.title Settings
        .buttons.right-buttons
          %button.button.button-icon.icon.ion-navicon(menu-toggle="right")
      %ion-content(has-header="true")
        %h1 Settings
