!!!
%html(ng-app="myApp")/
%meta(charset="UTF-8")
%meta(http-equiv="X-UA-Compatible" content="IE=edge")
%meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
%title Timecard
:css
  .ng-show {
    display: block !important;
  }
  [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
  }
  .topcoat-navigation-bar {
    padding-top: 20px;
    height: 60px;
  }
  body {
    font-family: -apple-system-font !important;
  }

%link(rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon.png")
%link(rel="stylesheet" href="onsen-1.0.4/css/onsenui.css")
%link(rel="stylesheet" href="onsen-1.0.4/css/topcoat-mobile-onsen-ios7.css")
%script(src="onsen-1.0.4/js/angular/angular.js")
%script(src="onsen-1.0.4/js/angular/angular-touch.js")
%script(src="onsen-1.0.4/js/onsenui.js")
%script(src="js/app.js")
%script(src="js/browser_dart_csp_safe.js")
%script(src="packages/chrome/bootstrap.js" defer)
%script(src="packages/shadow_dom/shadow_dom.min.js")
%body(app)/

%ons-navigator(page="page1.html" title="Page 1")
