!!!
%html/
%meta(charset="UTF-8")
%meta(http-equiv="X-UA-Compatible" content="IE=edge")
%meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
%title Timecard
:css
  .ng-show {
    display: block !important;
  }
  [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
  }
  body {
    padding-top: 100px;
  }

%link(rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon.png")
%link(rel="stylesheet" href="bootstrap-3.1.1/css/bootstrap.min.css")
%link(href="ionic/css/ionic.min.css" rel="stylesheet")
%script(src="ionic/js/ionic.bundle.min.js")
%script(src="js/app.js")
%script(src="js/browser_dart_csp_safe.js")
%script(src="packages/chrome/bootstrap.js" defer)
%script(src="main.dart" type="application/dart")
%body(app ng-app="starter")/

%ion-nav-view

%ion-side-menus
  %ion-pane(ion-side-menu-content)
    %ion-nav-bar.bar-stable.nav-title-slide-ios7
      %ion-nav-back-button.button-clear
        %i.icon.ion-chevron-left
        Back
    %ion-nav-view(name="menuContent" animation="slide-left-right")
  %ion-side-menu(side="left")
    %header.bar.bar-header.bar-stable
      %h1.title
        Settings
    %ion-content.has-header
      %ion-list
        %ion-item(nav-clear menu-close href="#/app/playlists")
          %i.icon.ion-person
          Account
        %ion-item(nav-clear menu-close href="#/app/playlists")
          %i.icon.ion-log-out
          Logout
        %ion-item(nav-clear menu-close href="#/app/playlists")
          %i.icon.ion-gear-a
          settings
        %ion-item(nav-clear menu-close href="#/app/playlists")
          %i.icon.ion-paper-airplane
          Feedback
      %footer-component
  %ion-side-menu(side="right")
    %header.bar.bar-header.bar-stable
      %h1.title
        Select
    %ion-content.has-header
      %ion-list
        %ion-item(nav-clear menu-close href="#/app/search")
          %i.icon.ion-speedometer
          Workload
        %ion-item(nav-clear menu-close href="#/app/browse")
          %i.icon.ion-grid
          Dashbord
        %ion-item(nav-clear menu-close href="#/app/playlists")
          %i.icon.ion-filing
          Projects
        %ion-item(nav-clear menu-close href="#/app/playlists")
          %i.icon.ion-hammer
          Issues
