!!!
%html(ng-app)/
%meta(charset="UTF-8")
%meta(http-equiv="X-UA-Compatible" content="IE=edge")
%meta(name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0")
%title Timecard
:css
  .ng-show {
    display: block !important;
  }
  [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
  }
%link(rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon.png")
%link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
%script(src="packages/shadow_dom/shadow_dom.min.js")
%script(src="main.dart" type="application/dart")
%script(src="packages/browser/dart.js")
%body(app)/

%nav-component(a="a")

.container
  .row
    %ng-view

%footer-component
